
<add-bar 
  (addItem)="servizio.add($event)">
</add-bar>
<app-list
  [items]="servizio.lista | taken" 
  (removeItem)="servizio.remove($event)">
</app-list>
<app-list
  [items]="servizio.lista | untaken" 
  (removeItem)="servizio.remove($event)">
</app-list>
<p *ngIf="servizio.lista.length == 0">
  nulla nella lista!
</p>


<pre>{{lista | json}}</pre>



